.navbar {
    display: inline-block;
    /* Add more styles as needed */
  }
   h1{
    color:rgb(127, 25, 179);
     size:15px;
      margin-left:15%;
       margin-right:10%;
         }
        th
        {color: red;
          size: 15px;
          margin-left: 20%;
          margin-right: 15%;
          

        }